$standardblue:#2196F3;
$standardblack:#000000;
$standardgrey:#757575;
$standardwhite:#ffffff;
$standardtextcolor:#212121;
$backgroudcolor:#2F303A;
$standardtransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);